.saving-image {
    background-image: url('/assets/images/savings.png');
    background-size: cover;
    border: 2px solid #3f51b5;
}

.checking-image {
    background-image: url('/assets/images/checking.png');
    background-size: cover;
    border: 2px solid #3f51b5;
}

.mat-card-title {
    margin-top: 10px;
    font-family: 'Quicksand-Bold';
    color: #dc1868;
}

.container {
    padding: 20px;
    font-family: 'Quicksand-Semibold';
}

.font {
    font-family: 'Quicksand-Semibold';
}

mat-card-content {
    font-family: 'Quicksand';
    font-size: 16px;
    margin-top: 20px;
}

h1 {
    font-family: 'Quicksand-Bold';
}