.top-left {
    position: absolute;
    top: 18%;
    left: 10%;
    color: #066506
}

.fontAllura {
    font-family: 'Allura';
    font-size: 50px;
}

.fontQuick {
    font-family: 'Quicksand-Semibold';
    font-size: 20px;
}

.card {
    margin-bottom: 30px;
    background: #3f51b5;
    color: white;
    font-family: 'Quicksand-Semibold';
    min-height: 250px;
    border-radius: 16%;
    text-align: center;
}

.images {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16%;
    margin-bottom: auto;
    width: 60%;
}

.icons {
    font-size: 150px;
    width: 84%;
}

.home {
    margin: 20px;
}

.font {
    font-family: 'Quicksand-Semibold';
}

.main {
    background: none;
}