table {
    width: 100%;
    font-family: 'Quicksand';
}

.transactions {
    font-family: 'Quicksand-Bold';
    position: relative;
    margin: 14px;
    mat-icon {
        position: absolute;
        color: #3f51b5;
    }
    span {
        margin-left: 28px;
        font-size: 18px;
        color: #d84c7f;
    }
}

.saving-image {
    background-image: url('/assets/images/savings.png');
    background-size: cover;
    border: 2px solid #3f51b5;
}

.checking-image {
    background-image: url('/assets/images/checking.png');
    background-size: cover;
    border: 2px solid #3f51b5;
}

.mat-card-title {
    font-family: 'Quicksand-Bold';
    color: #dc1868;
    margin-left: 4px;
    margin-top: 10px;
    font-size: 25px;
}

.font {
    font-family: 'Quicksand-Semibold';
}

.card {
    box-shadow: none;
}

.mat-card-content {
    font-family: 'Quicksand';
    font-size: 16px;
    margin-top: 20px;
}

.search {
    width: 100%;
}

.header-icon {
    color: #3f51b5;
}

.filterBox {
    font-family: 'Quicksand-Bold';
    color: #dc1868;
}